*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 100vh;
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}

/* antd icons */

.switch-icons{
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 10px 6px 10px;
}

.anticon svg{
  font-size: 20px;
  cursor: pointer;
}

.active-icon{
  color: black;
}

.inactive-icon{
  color: gray;
}

.input-box input:focus {
  outline: double;
  outline-width: 2px;
  outline-color: #0d6efd;
  outline-offset: 1.5px;
  height: 5vh;
}

.input-box input{
  height: 9vh;
}

.input-box label{
  position: absolute;
  left: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}